#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 30%;
}
#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}